// COLORS

$primary-color:#ddda1f;
$secondary-color:rgba($primary-color,0.5);
$text-color:#040255;
$dark-color:#000;
$dark-half: rgba($dark-color,0.5);
$white:#fff;

// FONT

$font:'Nunito', sans-serif;